---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
const projects = await getCollection("projects");
---

<Layout>
  <main class="flex flex-col w-full h-full max-w-xl gap-12">
    <div class="flex flex-col gap-1">
      <h1 class="text-xl">Angelo Ladores</h1>
      <p class="text-gray-400 font-light">Web developer</p>
    </div>
    <div class="flex flex-col gap-2">
      <p>I enjoy solving real world problems with software.</p>
      <p>
        Currently, I am focusing on my web development skills. Primarily with on
        React + Node backend.
      </p>
      <p>Towards this goal, I enjoy learning how things work under the hood.</p>
    </div>
    <section class="flex flex-col gap-6">
      <h2
        class="text-sm text-gray-400 uppercase tracking-widest text-muted-foreground"
      >
        PROJECTS
      </h2>
      <ul class="flex flex-col gap-6">
        {
          projects.map((project) => (
            <ProjectCard
              slug={project.data.slug}
              title={project.data.title}
              cover={project.data.cover}
              type={project.data.type}
              description={project.data.description}
              url={project.data.url}
              github={project.data.github}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
