---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => a.data.order - b.data.order);
---

<Layout>
  <main class="flex flex-col w-full h-full max-w-2xl gap-10">
    <div class="flex flex-col gap-1">
      <h1 class="text-2xl font-medium">Angelo Ladores</h1>
      <p class="">Software Engineer</p>
    </div>
    <div class="flex flex-col gap-2">
      <p>Software Engineer located in Ontario, Canada.</p>
      <p>
        Currently, I am focusing on building web applications with React and
        Node. My projects range from full-stack applications like <a
          href="#"
          target="_blank"
          class="underline decoration-gray-400 hover:decoration-black"
          >AI Recipe Manger</a
        > to front end such as Chrome Extensions <a
          href="#"
          target="_blank"
          class="underline decoration-gray-400 hover:decoration-black"
          >Measured</a
        >.
      </p>
      <p>
        Towards this goal, I enjoy learning web fundamentals and vanilla
        implementations.
      </p>
    </div>
    <section class="flex flex-col gap-6">
      <h2
        class="text-sm text-gray-500 uppercase tracking-widest text-muted-foreground"
      >
        PROJECTS
      </h2>
      <ul class="flex flex-col gap-6">
        {
          sortedProjects.map((project) => (
            <ProjectCard
              slug={project.data.slug}
              title={project.data.title}
              description={project.data.description}
              url={project.data.url}
              github={project.data.github}
              cover={project.data.cover}
              tech={project.data.tech}
              background={project.data.background}
              icon={project.data.icon}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
