---
import { Image } from "astro:assets";
import { MoveRight, Globe } from "@lucide/astro";
import Github from "./icons/Github.astro";
const { slug, title, url, github, cover, description, tech } = Astro.props;
---

<li class="flex flex-col md:flex-row md:justify-between gap-6">
  <div class="flex flex-col gap-2 flex-1">
    <div>
      <a href={`/projects/${slug}`} class="flex gap-2 items-center link w-min">
        <h3 class="text-primary text-nowrap">{title}</h3>
        <MoveRight size={18} stroke-width={1.5} />
      </a>
      <p class="text-sm pt-2 text-zinc-600">{description}</p>
    </div>

    <div class="flex gap-4 justify-between pt-4">
      <ul class="flex gap-2">
        {
          tech.map((tag: string) => {
            return (
              <li class="text-sm rounded-full px-2 border-1 text-zinc-600">
                {tag}
              </li>
            );
          })
        }
      </ul>
      <div class="flex gap-4">
        {
          url && (
            <a href={url} target="_blank" rel="noopener noreferrer">
              <Globe
                size={18}
                class="stroke-gray-500 stroke-1 hover:stroke-gray-900 duration-150"
              />
            </a>
          )
        }

        {
          github && (
            <a
              href={github}
              target="_blank"
              rel="noopener noreferrer"
              class="cursor-pointer fill-gray-500"
            >
              <Github />
            </a>
          )
        }
      </div>
    </div>
  </div>
  <Image
    src={cover}
    alt={title}
    class="rounded-lg w-full md:w-[200px] h-auto object-cover shrink-0"
  />
</li>

<style>
  .link {
    position: relative;
    text-decoration: none;
  }

  .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 150ms ease-out;
  }

  .link:hover::after {
    opacity: 1;
  }
</style>
