---
import { getCollection, render } from "astro:content";
import Header from "../../components/Projects/Header.astro";
import Links from "../../components/Projects/Links.astro";
import Cover from "../../components/Projects/Cover.astro";
import TechStack from "../../components/Projects/TechStack.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.data.slug },
    props: { project },
  }));
}
const { project } = Astro.props;
const { Content } = await render(project);
const { title, url, github, cover, tech } = project.data;
---

<Layout title={title}>
  <main class="flex flex-col h-full w-full max-w-2xl gap-6">
    <Header title={title} />
    <Links url={url} github={github} />
    <Cover cover={cover} title={title} />
    <TechStack tech={tech} />
    <section class="flex flex-col gap-6 prose content-list max-w-none">
      <Content />
    </section>
  </main>
</Layout>
