---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { MoveLeft, Globe } from "@lucide/astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.data.slug },
    props: { project },
  }));
}
const { project } = Astro.props;
const { Content } = await render(project);
const { title, description, url, github, cover, tech } = project.data;
---

<Layout title={title}>
  <main class="flex flex-col h-full w-full max-w-screen-sm gap-6">
    <a href="/" class="flex gap-2 text-gray-400 items-center w-min">
      <MoveLeft size={18} />
      <div>Back</div>
    </a>
    <h2 class="text-xl">{title}</h2>
    <div class="flex gap-6 items-center">
      {
        url && (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="flex gap-2 items-center"
          >
            <Globe size={18} class="stroke-gray-400 stroke-1" />
            <div class="text-gray-400 text-sm">Live Site</div>
          </a>
        )
      }

      {
        github && (
          <a
            href={github}
            target="_blank"
            rel="noopener noreferrer"
            class="cursor-pointer flex gap-2 text-gray-400 items-center"
          >
            <svg
              fill="currentColor"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="fill-gray-400 w-[18px] h-[18px]"
            >
              <title>GitHub</title>
              <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
            </svg>
            <div class="text-sm">Source Code</div>
          </a>
        )
      }
    </div>

    <Image
      src={cover}
      alt={title}
      class="rounded-lg w-full h-auto object-cover shrink-0"
    />

    <div class="flex flex-col gap-6">
      <h3
        class="text-sm text-gray-400 uppercase tracking-widest text-muted-foreground"
      >
        TECH STACK
      </h3>
      <ul class="flex gap-2 text-gray-400">
        {
          tech.map((item) => {
            return (
              <li class="text-sm border-1 rounded-full px-3 py-1">{item}</li>
            );
          })
        }
      </ul>
    </div>
    <section class="flex flex-col gap-6 prose content-list max-w-none">
      <Content />
    </section>
  </main>
</Layout>
